<fieldset>
  <legend>Route Details</legend>
  <ol>
    <li>
      <%= label :trip, :trip_distance %>
      <span id="trip_distance"></span>
    </li>
    <li>
      <%= label :trip, :trip_duration %>
      <span id="trip_duration"></span>
    </li>
  </ol>
  <div id="map_canvas" style="width: 365px; height: 300px;" /></div>
</fieldset>

