<fieldset>
  <legend>Route Details</legend>
  <ol>
    <li>
      <%= label :trip, :trip_distance %>
      <%= text_field :trip, :trip_distance, :disabled => true, :size => 10 %>
    </li>
    <li>
      <%= label :trip, :trip_duration %>
      <%= text_field :trip, :trip_duration, :disabled => true, :size => 10 %>
    </li>
  </ol>
  <div id="map_canvas" style="width: 365px; height: 300px;" /></div>
</fieldset>

