<fieldset>
  <legend><%= t "headings.route_details" %></legend>
  <ol>
    <li>
      <%= label :trip, t("distance") %>
      <span id="trip_distance"></span>
    </li>
    <li>
      <%= label :trip, t("duration") %>
      <span id="trip_duration"></span>
    </li>
  </ol>
  <div id="map_canvas" style="width: 365px; height: 300px;" /></div>
</fieldset>

