<% content_for :header, javascript_include_tag("http://maps.google.com/maps/api/js?sensor=false", "trips-new-edit") %>

<%= form_for(@trip) do |f| %>
  <div class="prepend-1 span-22 append-1">
    <%= render 'error_message' %>
  </div>

  <div class="prepend-1 span-11">
    <%= render 'form', :f => f, :post_id => nil %>
  </div>

  <div class="prepend-1 span-10 append-1 last">
    <%= render 'google_map' %>
  </div>
<% end %>

