<% content_for :header, javascript_include_tag("trips-search") %>

<div class="prepend-1 span-8">
	<fieldset>
			<legend>Search Filters</legend>

          <%= label :trip, :from_location_id, "From", :class => 'search_loc_label' %>
	        <%= collection_select(:trip, :from_location_id, Location.from_locations, :id, :name, {}, :class => 'search_loc_list') %>

	        <%= label :trip, :to_location_id, "To", :class => 'search_loc_label' %>
	        <span id="toLocation">
            <%= collection_select(:trip, :to_location_id, Location.to_locations, :id, :name, {}, :class => 'search_loc_list') %>
          </span>

			    <div id="dateDiv"></div>

			    <input id="trip_all_dates" type="checkbox" checked="checked" name="vehicle" value="Bike" /> Search all dates<br />

			    <div class="ui-style">
  			    <button id="filterButton">Filter results</button>
			    </div>
	</fieldset>

</div>

<div id="searchResultsContainer" class="prepend-1 span-13 append-1 last">
	<fieldset>
			<legend>Search Results</legend>
      <div id="searchResults">

      </div>
	</fieldset>
</div>

