<div class="fourcol">

<fieldset>
  <legend>Search Trips</legend>
			<table>
			<tr>
				<td>From</td>
				<td>
				<div id="fromLocation">

				</div>
				</td>
			</tr>
			<tr>
				<td>To</td>
				<td>
				<div id="toLocation">

				</div>
				</td>
				</tr>
				<tr>
					<td colspan="2">
						<div id="DateDiv" style="padding-top: 15px;"></div>
					</td>
				</tr>
			</table>
		</fieldset>

</div>
<div class="fourcol">
<p>The other data</p>
</div>

