
<div class="sixteen columns">

  <h3>Welcome to CoCoRide.com.au</h3>
  <p class="bodyFont">CoCoRide is a ride sharing service, that provides inter-city trips within Australia.</p>

  <p class="bodyFont">Our aim is to bring all trip posts together into the one central place, providing an easy way to search and post trips.</p>

  <p class="bodyFont">We hope you enjoy your visit at CoCoRide.com.au :)</p>
  <p class="bodyFont"><i>CoCoRide.com.au team.</i></p>
  
  <!--<p class="bodyFont">Click 'Search' to find trips!</p>
  <p class="bodyFont">Got feedback for us? Click <a href="javascript:UserVoice.showPopupWidget();" title="Open feedback dialog">here to tell us how we could improve the website</a></p>-->

</div>


