
<div class="span-14 prepend-top">

<p class="bodyFont">Ši platforma sukurta visiems norintiems susirasti bendrakeleivių ir taip sumažinti kelionės išlaidas keliaujant kartu.</p>


<p class="bodyFont">Mūsų misija inovatyvių sprendimų plėtra paremta socialinių tinklų integracija taip sukuriant paprastą, saugią ir patikimą platformą, kurioje būtų galima susirasti keleivių norinčių keliauti kartu. Mes sieksime pasiūlyti naujausius technologinius sprendimus, kurie padės dar lengviau susirasti patikimus pakeleivius.</p>

<p class="bodyFont">Jeigu tikite šia idėja - važiuokime kartu :)<br/><i>Pavešiu komanda</i><p>

</div>

<div class="span-8 prepend-top last">

  <%= image_tag("carpooling_people.jpg", :alt => "carpooling people", :class => "round") %>

</div>

