
<div class="span-14 prepend-top">

  <p class="bodyFont">Cocoride offers an innovative ridesharing/carpooling solution that can  be used by universities and large organisations to connect commuters traveling  in the same direction in order to reduce travel costs, car parks and harmful emissions.</p>

  <p class="bodyFont">Its intuitive web interface breaks  the mold and sets the standard in shared transport solutions. It is pleasingly  simple to use, making searching and posting rides a breeze.</p>


</div>

<div class="span-8 prepend-top last">

  <%= image_tag("carpooling_people.jpg", :alt => "carpooling people", :class => "round") %>

</div>

<div class="span-22 prepend-top">

  <p class="bodyFont">Safety is the leading impediment to successful take up of ride  sharing/carpooling schemes. Cocoride acknowledges this and is committed to  addressing the issue. We establish an exclusive, private network for&nbsp;<em>your</em>&nbsp;organisation, giving riders peace of  mind that  other riders are also from the same university or company. We also  integrate very tightly with Facebook, allowing us to leverage the existing trust  built within well-established social networks.</p>

  <p class="bodyFont">Cocoride is making travel fun. It connects colleagues,  establishes new friendships and replaces rush hour tension with relaxed social  travel.</p>

</div>

