
<div class="span-14 prepend-top">

  <p class="bodyFont">Pavesiu.lt is a ride sharing service, that provides inter-city trips within Lithuania. Pavesiu.lt is built upon the Pavesiu Facebook fan page, containing over 33,000 active users.</p>

  <p class="bodyFont">Our aim is to bring all trip posts together into the one central place, providing an easy way to search and post trips.</p>

  <p class="bodyFont">We hope you enjoy your visit at Pavesiu.lt :)</p>
  <p class="bodyFont"><i>Pavesiu.lt team.</i></p>

</div>

<div class="span-8 prepend-top last">

  <%= image_tag("carpooling_people.jpg", :alt => "carpooling people", :class => "round") %>

</div>

