
<div class="twelvecol">

<div id="fbLoginBox">
  <p class="bodyFont">Cocoride offers an innovative ridesharing/carpooling solution that can be used by universities and large organisations to connect commuters traveling in the same direction in order to reduce travel costs, car parks and harmful emissions.</p>
  <div id="fbLoginButton">
    <fb:login-button autologoutlink="true" perms="email" size="large" length="long"></fb:login-button>
  </div>

  <div id="fb-root"></div>

</div>

</div>

