
<div class="prepend-1 span-22 append-1">
<h1>Login Required</h1>
<div id="fbLoginBox">
  <p class="bodyFont">Please login to continue.</p>
  <div id="fbLoginButton">
    <fb:login-button autologoutlink="true" perms="email" size="large" length="long"></fb:login-button>
  </div>

  <div id="fb-root"></div>

</div>

</div>

